* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body{
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}
.container{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contain{
    width: 250px;
    height: 150px;
    margin: 10px;
    background-color: orange;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}